$brown: #3D0D00;
$orange: #B82800;
$light-brown: #521200;
$light-orange: #FF781F;
$light-pink: #ff51b7;
$dark-pink: #A30062;
$rgba-brown: rgba(61,13, 0, 1);
$rgba-light-brown: rgb(82, 18, 0);
$rgba-orange: rgba(184, 40, 0, 1);
$rgba-light-orange: rgba(255, 120, 31, 1);
$rgba-light-pink: rgba(201, 64, 144, 1);
$rgba-dark-pink: rgba(163, 0, 98, 1);